# dependencies
node_modules

# build outputs
dist
build
.out
.next
coverage

# static / generated
public
*.min.js
*.map

# config lock files
pnpm-lock.yaml
yarn.lock
package-lock.json

# misc
.env

*.md